.feature {
  padding: 5rem 0;
}

.feature-1 {
  display: flex;
  justify-content: space-between;
  padding: 3rem 6rem;

  @include respond(tab-port) {
    padding: 3rem 2rem;
    align-items: center;
  }

  @include respond(phone) {
    flex-direction: column-reverse;
    padding: 3rem 2rem;
  }

  &__text {
    width: 50%;

    @include respond(phone) {
      width: 100%;
    }

    &--main {
      font-size: 2.5rem;
    }

    &--sub {
      font-size: 1.6rem;
    }

    &--link {
      font-size: 1.6rem;
    }
  }

  &__pic {
    width: 30%;

    @include respond(tab-port) {
      width: 40%;
    }

    @include respond(phone) {
      width: 90%;
      margin-bottom: 2.5rem;
    }

    &--img {
      max-width: 100%;
    }
  }
}

.feature-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 6rem;

  @include respond(tab-port) {
    padding: 3rem 2rem;
  }

  @include respond(phone) {
    flex-direction: column;
  }

  &__text {
    width: 50%;

    @include respond(phone) {
      width: 100%;
    }

    &--main {
      font-size: 2.5rem;
    }

    &--sub {
      font-size: 1.6rem;
    }

    &--link {
      font-size: 1.6rem;
    }
  }

  &__pic {
    width: 30%;

    @include respond(tab-port) {
      width: 40%;
    }

    @include respond(phone) {
      width: 90%;
      margin-bottom: 2.5rem;
    }

    &--img {
      max-width: 100%;
    }
  }
}
