.margin-bottom {
  margin-bottom: 1.6rem;
}

.margin-bottom-s {
  margin-bottom: 1.2rem;
}

.margin-bottom-l {
  margin-bottom: 2rem;
}

.bg-features {
  background-color: #ffffed;
}

.bg-footer {
  background-color: #fffce8;
}
